mode: standalone

rootUser: ""
rootPassword: ""

existingSecret: minio-creds

replicas: 1

persistence:
  enabled: true
  size: 50Gi
  storageClass: local-path

resources:
  requests:
    cpu: 250m
    memory: 256Mi
  limits:
    cpu: 1
    memory: 1Gi

service:
  type: ClusterIP
  port: 9000

consoleService:
  type: ClusterIP
  port: 9001
